<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Vue APP</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <div id="app" class="container">

        <p>合計いいね数： {{ total }}</p>

        <like-component message="Like" v-on:increment="incrementTotal"></like-component>
        <like-component message="Awesome" v-on:increment="incrementTotal"></like-component>
        <like-component message="Great" v-on:increment="incrementTotal"></like-component>

        <!-- デフォルト値であるHelloが適用 -->
        <like-component v-on:increment="incrementTotal"></like-component>
    </div>












    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>